.titulo{
    text-transform: uppercase;
    text-decoration: underline;
    background-color: gray;
    text-align: center;
}

.imagen{
    display: block;
    margin: 0px auto;
}

.h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}